@page "/fetchdata"

@using _20210324_blazorserver.Data
@inject WeatherForecastService ForecastService

<h1>Previsão do tempo</h1>

<p>Este componente demonstra como buscar dados de um serviço.</p>

@if (forecasts == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <table class="table">
    <thead>
        <tr>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                    <td>@forecast.Date.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
